{% extends 'base.html.twig' %}

{% block title %}Edit DemandeOrganisateur{% endblock %}

{% block body %}
    <h1>Edit DemandeOrganisateur</h1>

    {{ include('demande_organisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_demande_organisateur_index') }}">back to list</a>

    {{ include('demande_organisateur/_delete_form.html.twig') }}
{% endblock %}
