{% extends 'base.html.twig' %}

{% block title %}Utilisateur inscrit{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>Utilisateur inscrit</h1>

{% for user in users %}
            <tr>
                <td>{{ user.email }}</td>

                  
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Personne inscrit</td>
            </tr>
        {% endfor %}
</div>



{% endblock %}        