{% extends 'base.html.twig' %}

{% block title %}New ImageUser{% endblock %}

{% block body %}
    <h1>Create new ImageUser</h1>

    {{ include('image_user/_form.html.twig') }}

    <a href="{{ path('app_image_user_index') }}">back to list</a>
{% endblock %}
