body {
    font: 16px;
    background-color: rgb(193, 190, 190);
}

@import "~@geoapify/geocoder-autocomplete/styles/minimal.css";

.autocomplete-container {
    position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: gray;
	--mainColorLight: #5767aa;
	--secondaryColor: rgb(54, 54, 54);
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.pdp{     
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    border: solid 1px whitesmoke;

  
          
}
.test{     
    margin:1% ;
    position: absolute;
    right:0;       
    top:0; 
    margin-right: 10%;


}

.log{     
   
    position: absolute;
    right:0;       
    top:0; 
    margin: 2%;

}

.btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: relative;
}

.dropdown-menu {
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-color: #212529;
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-link-color: #152c43;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    box-shadow: 2px 2px 2px black;
    border: solid 1px whitesmoke;
    min-width: 8rem;
    margin: 0;
    font-size: 0.75rem;
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border-radius: var(--bs-dropdown-border-radius);
    visibility: hidden;
    position: absolute;
    margin-top: 10px;
    font: 10px;
    top: 100%;
    margin-left: 10%;
    width: 20%;


}
.dropdown-menu.show {
    display: block;
    visibility: visible;
    margin-left: 10%;
}
.dropdown-toggle {
    white-space: nowrap;
    margin-left: 1px;

}

.prof{
    align-items: center;
    padding: 3px;
}
.fleche{
    padding-left: 4px;
}

.desc{
    margin-top: 6px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    gap: 5%;
}

.eventcontainer{
    text-align: center;
    display: inline-block;
    background-color: white;
    border: solid;
    border-radius: 5%;
    box-shadow: 2px 2px 2px #7d7a7a;
    position: relative;
    width: 250px;
    
}

.eventcontainerscroll{
    text-align: center;
    display: inline-block;
    background-color: white;
    border: solid;
    border-radius: 5%;
    box-shadow: 2px 2px 2px #7d7a7a;
    position: relative;
    width: 250px;
    margin: 3%;
    height: 275px;
    
}



.eventsort{
    position: absolute;
    right: 6%;
    top: 14%;
}
.eventtitre{
    font-weight: bold;
    font-size: medium;
}

.eventcontainer:hover{
    transform: translate(10px, 10px);


} 


.eventcontainerscroll:hover{
    transform: translate(10px, 10px);
    opacity: 0.6;


} 
.bar{
    padding: 5px;
}
.page{
    margin-left: 15%;
    margin-right: 15%;

}

.affichepop{
    margin-right: 5%;
    margin-top: 15px;
    background-color: darkgray;
    margin-left: 5%;
    padding: 5%;
    border-radius: 1%;
}

.eventplace{
    position: absolute;
    color: #eee;
    top: 153px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(193, 190, 190);
}
.eventitemimg{
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.titreevent{
    font-size: 30px;
    text-align: center;
}
.eventimg{
    object-fit: cover;
    width: 100%;
}
.lienevent{
    color: inherit;

}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;    
}

.eventpop{
    font-size: large;
    font-weight: bold;

}


@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

    img .pdp {     
            border-radius: 50%;
            box-shadow: 2px 2px 2px black;
            border: solid 1px whitesmoke;
            margin:1% ;
        position: absolute;
        top: 2rem;
		left: 2rem;
    }

.test{     
    margin:1% ;
    position: absolute;
        top: 2rem;
		left: 2rem;

}

    
}

table.profil{
    background-color: whitesmoke;
    box-shadow: 3px 3px rgb(90, 89, 89), -1em 0 .4em rgb(90, 89, 89);
    float:left;
    margin-left:450px;
    margin-top:100px;
    width: 22em;
    
}
.marge{
    align: right;
}
.profilpdp{
    clip-path:ellipse(37% 50%);
    height:75px; 
    width:100px;
}
table.evenement{
    
    background-color: whitesmoke;
    box-shadow: 3px 3px rgb(90, 89, 89), -1em 0 .4em rgb(90, 89, 89);
    float:right;
    margin-right:350px;
    margin-top:100px;
    width: 30em;
}
.formodif{
    background-color: whitesmoke;
    box-shadow: 3px 3px rgb(90, 89, 89), -1em 0 .4em rgb(90, 89, 89);
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    width: 30em;
    text-decoration: none;
}
.titre{
    margin-left: 80px;
    margin-top:100px;
}
.savoir{
    font-size: 25px;
}
.changement{
    color: black;
    
}
.changement:hover{
    color:white;
    background-color: rgb(90, 89, 89);
    border-radius:5%;
   
}
.voir{
    color: black;
    text-decoration: none;
}
.voir:hover{
    color:white;
    background-color: rgb(90, 89, 89);
    border-radius:5%;
   
}
.prenom{
    padding-top:25px;
    padding-left: 85px;

}
.nom{
    padding-top:25px;
    padding-left: 85px;
   
}
.pseudo{
    padding-top:25px;
    padding-left: 85px;
    
}
.image{
    padding-top:25px;
    padding-left: 85px;
   
}
.modif{
    padding-top:25px;
    padding-left: 85px;
    
}
.back{
    padding-top:25px;
}

.demandevent{
    background-color: whitesmoke;
    box-shadow: 3px 3px rgb(90, 89, 89), -1em 0 .4em rgb(90, 89, 89);
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;
    width: 30em;
    text-decoration: none;
    
}
.diff{
   border-bottom: solid black;
   border-left: solid black;
   border-top:  solid black;

}

.hui{
    font-weight: bold;
    font-size:x-large;
    margin-bottom:40px;
}
.diffr{
    border-bottom: solid black;
    border-top:solid black;
}

.diffs{
    border-bottom: solid black;
    border-top:solid black;

}

.logo {
    border:solid rgb(90, 89, 89);
    border-radius: 10%;
}
.nom{
    border:solid rgb(90, 89, 89);
    border-radius: 10%;
    padding-right: 85px;
    padding-bottom: 5px;
}
.nbplace{
    border:solid rgb(90, 89, 89);
    border-radius: 10%;
}
.descr{
    border:solid rgb(90, 89, 89);
    border-radius: 10%;
}
.get{
    text-decoration: none;
    color: rgb(90, 89, 89);
}
.get:hover{
    color:white;
    background-color: rgb(90, 89, 89);
    border-radius:5%;
}
.montre{
    background-color: whitesmoke;
    box-shadow: 3px 3px rgb(90, 89, 89), -1em 0 .4em rgb(90, 89, 89);
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;
    width: 30em;
    text-decoration: none;
    padding: 3%;
    margin-bottom: 3%;
}
.ttremontre{
    font-weight: bold;
    font-size:x-large;
    margin-bottom:40px;
}
